header img {
    height: 80px;
    margin-left:40px;
}

body {
    height: 125vh;
    background: white;
    background-size: cover;    
    font-family: 'Gill Sans', sans-serif;
    margin-top:80px;
    padding:30px;
}

header {
    background-color: red;
    position: fixed;
    top:0;
    left:0;
    right:0;
    height:80px;
    display:flex;
    align-items:center;
    box-shadow: 0 0 15px 0 red;
}

header * {
    display: inline;
}

header li {
    margin:20px;
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Gill Sans', sans-serif;
}

header li a {
    color: white;
    text-decoration:none;
    font-family: 'Gill Sans', sans-serif;
}

table {
    border-collapse: collapse;
    border: .1px black;
    text-align: center;
    vertical-align: middle;
}

th, td {
    border-collapse: collapse;
    border-bottom: 1px solid black;
    padding: 2px;
}

thead {
    background-color: red;
    color: white;
    letter-spacing: 2%;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: rgb(255, 232, 232);
}

tbody th {
    background-color:#36c;
    color: #fff;
    text-align: left;
}

.content {
    overflow: auto;
    border: 3px solid #666;
}
.content div {
    padding: 10px;
}
.content a {
    color: darkblue;
}
.blue {
    float: right;
    width:45%;
}
.green {
    float: left;
    width: 45%;
}